.pictograms {
	margin-top: 100px;
}

.row {
	margin: 0 auto !important;
}
.picture1 {
	img {
	 	border-radius: 50%;
	 	width: 100%;
	 
   

	}
	h2 {
		font-size: 1.375rem;
		font-weight: 800;
	}
	p {
		font-size: 1.125rem;
	}
}